
/* =============== */
/* general styling */
/* =============== */
* {
	box-sizing: border-box;
}

.align-children{
	font-size: 0;
}

.align-children > * {
	font-size: medium;
	display: inline-block;
	vertical-align: top;
}

/* ====================== */
/* top header styling    */
/* ===================== */

.headerContainer{
	border: solid 5px purple;
	position: relative;
}

.skyline{
	max-width: 100%;
	
}

.icon{
	width: 95px;
	height: 95px;
	position: absolute;
	/* position: relative; */
	top: 85%;
	left: 20%;
	border: 5px solid white;
	border-radius: 65%;
	
}


#container {
	border: solid yellow 5px;
	width: 65%; 
	margin: 0 auto;
	padding: 1%;
}


/* ==================== */
/* left column styling */
/* ==================== */

.leftCol {
	border: solid 2px green;
	width: 28%;
	display: inline-block;
	padding: 1%;
	height: 500px;
	vertical-align: top;
}

/* ==================== */
/* main column styling */
/* ==================== */

.mainCol {
	border: solid 2px blue;
	width: 72%;
	display: inline-block;
	padding: 1%;
}

.classroom {
	max-width: 100%;
	border: solid 2px tomato;
}

.classroomPic {
	max-width: 100%;
	margin: 7%;
}


/* ==================== */
/* side box styling*/
/* ==================== */

.subscribeBox {
	border: solid 1px black;
	max-width: 38%;
}



.subBoxTop {
	border-bottom: solid #bdc3c7 3px;

}

.tinyLogo {
	max-width: 10%;
	display: inline-block;
	vertical-align: top;
}

.subBoxFollow {
	border: solid 2px green;
	display: inline-block;
	float: right;
	padding: 1%;
	vertical-align: top;

}



.tiy1{
	display: inline-block;


}

.tiy2{
	display: inline-block;


}

.followButton{
	background: #3498db;
	vertical-align: top;
}
